@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-app-background {
  background-color: #343434; /* Ganti dengan warna latar belakang yang diinginkan */
}

.bg-navbar {
  background-color: #303030; /* Ganti dengan warna latar belakang navbar yang diinginkan */
}

.bg-header {
  background-color: #303030; /* Ganti dengan warna latar belakang navbar yang diinginkan */
}